<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    
    
    <http pattern="/login" security="none"/>
    <http pattern="/logout" security="none"/>
    <http pattern="/signup**" security="none"/> <!-- am i using this? -->
    <http pattern="/themes/**" security="none"/>
    <http pattern="/favicon**" security="none"/>
    <http pattern="/*Facade**" security="none"/>
    
    
    
    <http auto-config="true"> 
        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER" /> <!-- All are secured to users with ROLE_USER access authority -->
        <!-- Lets use our own login form,eh? -->        
        <form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfailed" />         
        <logout logout-success-url="/logout" />
        <session-management invalid-session-url="/sessiontimeout" >
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
        <logout delete-cookies="JSESSIONID" /> <!-- to prevent session mis-timeouts etc... -->
    </http>
    <authentication-manager>
        <authentication-provider user-service-ref="myUserAuthService"/>
        <!--
        <authentication-provider>
            
            <jdbc-user-service data-source-ref="dataSource"
               users-by-username-query="
                     select username,password,enabled
                     from users where username=?"
               authorities-by-username-query="
                     select u.username, r.rolename from users u, role r
                     where u.role_roleid = r.roleid and u.username =?  " /> -->
            <!--
            <user-service>
                <user name="rod" password="koala" authorities="supervisor, teller, user, ROLE_USER" />
                <user name="dianne" password="emu" authorities="teller, user" />
                <user name="scott" password="wombat" authorities="user" />
                <user name="peter" password="opal" authorities="user" />
            </user-service>
            
        </authentication-provider> -->
    </authentication-manager>
</beans:beans>